:root {
    --title-color: #434455;
    --hover-color: #4d5ae5;
    --first-title-color: #2e2f42;
    --white-color: #ffffff;
    --desc-color: #e7e9fc;
    --studio-color: #f4f4fd;
    --white-color: #ffffff;
    --second-background-color: #2e2f42;
    --third-background-color: #f4f4fd;
    --first-btn-color: #f4f4fd;
    --second-btn-color: #404bbf;
    --padding-top-header: 24px;
    --padding-bottom-header: 24px;
    --customers-icon-color: #8e8f99;
    --footer-icon-hover: #31d0aa;
    --modal-bg-color: #fcfcfc;
    --privacy-text-color: #757575;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  body {
    color: var(--title-color);
    font-family: "Roboto", sans-serif;
    background: var(--white-color);
  }
  
  p,
  h1,
  h2,
  h3 {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
  }

  img {
    display: block;
    min-width: 100%;
    width: 100%;
    height: auto;
  }
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .section {
    padding-bottom: 120px;
  }
  
  /* header */
  .site-header {
    border-bottom: 1px solid #e7e9fc;
  }
  .wrap-header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-padding {
    display: block;
  }
  
  .header-logo {
    display: inline-block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hover-color);
  }

  .web {
    color: var(--hover-color);
  }

  .studio {
    color: var(--first-title-color);
  }
  
  .navigation-list {
    display: none;
    gap: 40px;
  }
  
  .header-contacts-list {
    display: none;
  }
 
  .open-mob-menu {
    width: 32px;
    height: 22px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .icon-hamburger {
    stroke: var(--first-title-color);
  }
  .mob-menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white-color);
    z-index: 1;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  
  .mob-menu > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  
  .close-mob-menu {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--desc-color);
    cursor: pointer;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .close-mob-menu:hover,
  .close-mob-menu:focus {
    fill: var(--white-color);
    background-color: var(--second-btn-color);
  }

  .mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }
  

  .mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--first-title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .active-color {
    color: var(--second-btn-color);
  }
  .mob-menu-link:focus {
    color: var(--second-btn-color);
  }
  .mob-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mob-contacts-tel {
    font-weight: 600;
    font-size: 30px;
    line-height: calc(34 / 30);
    text-transform: capitalize;
    color: var(--hover-color);
  }
  .mob-contacts-email {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: var(--title-color);
  }
  .mob-soc-list {
    display: flex;
    gap: 40px;
    margin-top: 48px;
  }
  .mob-soc-item {
    width: 40px;
    height: 40px;
  }
  .mob-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--hover-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .mob-soc-link:focus {
    background-color: var(--second-btn-color);
  }
  .mob-soc-icon {
    fill: var(--first-btn-color);
  }
  
  /* Main */

  .section-solutions {
    width: 100%;
    /* max-width: 1440px; */
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--second-background-color);
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;

  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-solutions {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office_1.jpg);
    }
  }
  
  .solution-title {
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: var(--white-color);
    max-width: 320px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
  }
  .service-btn {
    width: 169px;
    height: 56px;
    font-family: inherit;
    background: var(--hover-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  
 
  .service-btn:hover,
  .service-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--second-btn-color);
  }
  
  .section-advantages {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  
  .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .advantages-item {
    width: 100%;
  }
  .advantages-item::before {
    display: none;
    content: "";
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--studio-color);
    border-radius: 4px;
    height: 112px;
  }
  .icon-antenna::before {
    background-image: url(../svg/group.svg);
  }
  .icon-clock::before {
    background-image: url(../svg/clock.svg);
  }
  .icon-diagram::before {
    background-image: url(../svg/diagram.svg);
  }
  .icon-astronaut::before {
    background-image: url(../svg/astronaut.svg);
  }
  .advantages-item:last-child {
    margin-right: 0;
  }
  .advantures-desc {
    text-align: center;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: var(--first-title-color);
  
    margin-bottom: 8px;
  }
  .advantures-text {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    align-self: stretch;
  }
  .section-activity {
    display: none;
  }
  .activity-title {
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--first-title-color);
    margin-bottom: 72px;
    text-align: center;
  }
  .activity-list {
    display: flex;
    gap: 24px;
  }
 
  .section-team {
    background: var(--third-background-color);
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .team-title {
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--first-title-color);
    text-align: center;
    margin-bottom: 72px;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  
  .team-item {
    background: var(--white-color);
    padding-bottom: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  .team-image {
    margin-bottom: 32px;
  }
  .team-desc-title {
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: var(--first-title-color);
    margin-bottom: 8px;
    text-align: center;
  }
  .team-text {
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
  }
  .team-soc-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  
  .team-soc-item {
    width: 40px;
    height: 40px;
  }
  .team-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--hover-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .team-soc-link:hover,
  .team-soc-link:focus {
    background-color: var(--second-btn-color);
  }
  .team-soc-icon {
    fill: var(--studio-color);
  }
  .section-customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  
  .customers-title {
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--first-title-color);
    text-align: center;
  
    margin-bottom: 72px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
  }
  
  .customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
  }
  .customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .customers-link:hover {
    border-color: var(--second-btn-color);
  }
  .customers-link:hover .customers-icon {
    fill: var(--second-btn-color);
  }
  .customers-link:focus .customers-icon {
    fill: var(--second-btn-color);
  }
  .customers-icon {
    fill: var(--customers-icon-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  /* Footer */
  
  .site-footer {
    background: var(--second-background-color);
    padding: 96px 0;
  }


  .footer-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hover-color);
    display: block;
    text-align: center;
    margin-bottom: 16px;
  }
  .footer-logo-text {
    margin-bottom: 72px;
  }
  
  .logo-footer-studio {
    color: var(--studio-color);
  }
  .footer-soc-icon {
    margin-bottom: 72px;
  }
  .footer-text {
    margin: 0 auto;
    width: 264px;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: var(--desc-color);
  }
  .footer-soc-icon {
    margin-bottom: 72px;
  }
  .footer-soc-text,
  .footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: var(--white-color);
  
    margin-bottom: 16px;
    text-align: center;
  }
  .footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .footer-soc-item {
    width: 40px;
    height: 40px;
  }
  .footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--title-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .footer-soc-link:hover,
  .footer-soc-link:focus {
    background-color: var(--footer-icon-hover);
  }

  .footer-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    margin-bottom: 16px;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(24 / 12);
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  
  .footer-input:focus {
    border-color: var(--hover-color);
  }
  .footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(24 / 12);
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-form-btn {
    min-width: 165px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0 auto;
    background: var(--hover-color);
    border-radius: 4px;
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .footer-form-btn:hover,
  .footer-form-btn:focus {
    background-color: var(--second-btn-color);
  }
  .send-icon {
    fill: var(--white-color);
    margin-left: 16px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 392px;
    min-height: 576px;
    background-color: var(--modal-bg-color);
    border-radius: 4px;
    padding: 72px 40px 40px 40px;
    transform: translate(-50%, -50%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .backdrop.is-hidden .modal {
    transform: translateX(-50%);
  }
  .modal-close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--desc-color);
    cursor: pointer;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .modal-close:hover,
  .modal-close:focus {
    fill: var(--white-color);
    background-color: var(--second-btn-color);
  }
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .modal-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
    margin-bottom: 16px;
  }
  .modal-input {
    display: block;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: var(--first-title-color);
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .modal-input:focus {
    border-color: var(--hover-color);
  }
  .modal-input:focus + .input-icon {
    fill: var(--hover-color);
  }
  .modal-comment {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    padding-left: 16px;
    padding-top: 8px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: var(--first-title-color);
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .modal-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-comment:focus {
    border-color: var(--hover-color);
  }
  
  .privacy-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--privacy-text-color);
    display: flex;
  }
  .privacy-text::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1.25px solid #2e2f42;
    border-radius: 2px;
    margin-right: 8px;
    display: block;
    transition-property: background-color, border, background-image;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  
  .input-ckeckbox:checked + .privacy-text::before {
    background-color: var(--second-btn-color);
    border: none;
    background-image: url(./images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .policy-link {
    display: contents;
    margin-left: 5px;
    color: var(--hover-color);
  }
 
  .modal-btn {
    width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-top: 24px;
    margin: 0 auto;
    border-color: transparent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .modal-btn:hover,
  .modal-btn:focus {
    background-color: var(--second-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .modal-field {
    margin-bottom: 8px;
  }
  .modal-field:nth-child(5) {
    margin-bottom: 0px;
  }
  
  .input-wrap {
    position: relative;
  }
  .input-text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--customers-icon-color);
    display: block;
    margin-bottom: 4px;
  }
  
  .input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }

  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0 );
    clip-path: inset(50%);
    margin: -1px;
  }